.picture_container{
    min-width: 450px;
    max-width: 450px;
    pointer-events: none;
}
.picture{
    width: 100%;
}
.product_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
}
.product_content p{
    margin: 0;
    font-size: 1.3rem;
    color: rgba(64, 64, 64, 1);
}
.AddToCart {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin:1rem 0px 0px;
    font-size: 1.2rem;
    font-weight: 700;
    width: 220px;
    height: 40px;
    background-color: rgba(255, 185, 1, 1);
}
.AddToCart:hover {
    background-color: rgb(255, 198, 54);
    cursor: pointer;
}
.price_container{
    position: relative;
    width: 100%;
}




@media screen and (max-width:800px){

    .product_container{
        flex-direction: column;
        align-items: center;
    }
    .product_container > div:nth-child(2){ /* > sadece bir altındakine işlemesini sağlıyor */
        margin-top: 1.4rem !important;
    }

}

@media screen and (max-width:540px){

    .picture_container{
        min-width: 400px;
        max-width: 400px;
    }

}

@media screen and (max-width:440px){

    .picture_container{
        min-width: 375px;
        max-width: 375px;
    }

}
@media screen and (max-width:410px){

    .picture_container{
        min-width: 350px;
        max-width: 350px;
    }

}

@media screen and (max-width:390px){

    .picture_container{
        min-width: 340px;
        max-width: 340px;
    }

}
@media screen and (max-width:370px){

    .picture_container{
        min-width: 320px;
        max-width: 320px;
    }

}

@media screen and (max-width:355px){

    .picture_container{
        min-width: 310px;
        max-width: 310px;
    }

}
@media screen and (max-width:350px){

    .picture_container{
        min-width: 300px;
        max-width: 300px;
    }

}


@media screen and (max-width:1140px){
    .all_carts{
        flex-wrap: wrap;
    }
    .cart_information_container{
        align-items: center;
        flex-direction: column !important;
        flex-wrap: wrap !important;
    }
}
@media screen and (max-width:800px){
    .general_picture{
        width: 400px !important;
    }
}
@media screen and (max-width:450px){
    .general_picture{
        width: 350px !important;
    }
}
@media screen and (max-width:400px){
    .general_picture{
        width: 300px !important;
    }
}
@media screen and (max-width:350px){
    .general_picture{
        width: 280px !important;
    }
}